# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
.env
ENV/
Lib/
Include/
Scripts/

# VS Code settings
.vscode/

# Distribution / packaging
*.egg-info/
dist/
build/

# Logs and temp files
*.log
*.tmp
*.swp
*.bak

# OS files
.DS_Store
Thumbs.db
